<div>
  <h2 id="page-heading" data-cy="GrupoCaixaHeading">
    <span jhiTranslate="apperpApp.grupoCaixa.home.title">Grupo Caixas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apperpApp.grupoCaixa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grupo-caixa"
        [routerLink]="['/grupo-caixa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apperpApp.grupoCaixa.home.createLabel">Criar novo Grupo Caixa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="grupoCaixas?.length === 0">
    <span jhiTranslate="apperpApp.grupoCaixa.home.notFound">Nenhum Grupo Caixa encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="grupoCaixas && grupoCaixas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.grupoCaixa.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupoCaixa of grupoCaixas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grupo-caixa', grupoCaixa.id, 'view']">{{ grupoCaixa.id }}</a>
          </td>
          <td>{{ grupoCaixa.descricao }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/grupo-caixa', grupoCaixa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/grupo-caixa', grupoCaixa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(grupoCaixa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
