<div>
  <h2 id="page-heading" data-cy="ItemComandaHeading">
    <span><span jhiTranslate="appErpApp.itemComanda.home.title">Item Comandas</span> {{ descricao }}</span>
    <div class="d-flex justify-content-end">
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item-comanda"
        [routerLink]="['/item-comanda/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appErpApp.itemComanda.home.createLabel">Criar novo Item Comanda</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="itemComandas?.length === 0">
    <span jhiTranslate="appErpApp.itemComanda.home.notFound">Nenhum Item Comanda encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="itemComandas && itemComandas.length > 0">
    <div class="d-flex justify-content-start">
      <div class="col-6" style="padding: 10px">
        <fieldset class="border p-2">
          <legend class="w-auto">Serviços</legend>
          <hr />
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                <th scope="col" jhiSortBy="id" *ngIf="mostraId">
                  <div class="d-flex">
                    <span jhiTranslate="global.field.id">Código</span>
                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>

                <th scope="col" jhiSortBy="tipoServico.descricao" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.tipoServico">Tipo Servico</span>
                  </div>
                </th>

                <th scope="col" jhiSortBy="qtde" style="width: 15%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.qtde">Qtde</span>
                  </div>
                </th>
                <th scope="col" jhiSortBy="valor" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.valor">Valor</span>
                  </div>
                </th>
                <th scope="col" jhiSortBy="observacao" style="width: 35%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.observacao">Observacao</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemComanda of findServicos(itemComandas); trackBy: trackId" data-cy="entityTable">
                <td *ngIf="mostraId">
                  <a [routerLink]="['/item-comanda', itemComanda.id, 'view']">{{ itemComanda.id }}</a>
                </td>

                <td>
                  <div *ngIf="itemComanda.tipoServico" style="font-size: larger; font-weight: bold">
                    {{ itemComanda.tipoServico.descricao }}
                  </div>
                </td>
                <td>
                  <p-inputNumber
                    [inputStyle]="{ border: 'none' }"
                    name="qtde"
                    id="field_qtde"
                    data-cy="qtde"
                    class="form-control"
                    inputId="integeronly"
                    [(ngModel)]="itemComanda.qtde"
                    (ngModelChange)="atualizaItem()"
                  >
                  </p-inputNumber>

                  <!--                   <input pattern="[0-9]" type="number" class="form-control" name="qtde" id="field_qtde" data-cy="qtde"
                    [(ngModel)]="itemComanda.qtde" (ngModelChange)="atualizaItem()" value="{{ itemComanda.qtde }}" />
 -->
                </td>
                <td>
                  <p-inputNumber
                    [inputStyle]="{ border: 'none' }"
                    inputId="locale-user"
                    [minFractionDigits]="2"
                    name="valor"
                    id="field_valor"
                    data-cy="valor"
                    class="form-control"
                    [(ngModel)]="itemComanda.valor"
                    (ngModelChange)="atualizaItem()"
                  >
                  </p-inputNumber>

                  <!--                  <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor"
                    [(ngModel)]="itemComanda.valor" (ngModelChange)="atualizaItem()" value="{{ itemComanda.valor }}" />

  -->
                </td>

                <td>
                  <input
                    type="text"
                    class="form-control"
                    name="observacao"
                    id="field_observacao"
                    data-cy="observacao"
                    [(ngModel)]="itemComanda.observacao"
                    (ngModelChange)="atualizaItem()"
                    value="{{ itemComanda.observacao }}"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
      <div class="col-6" style="padding: 10px">
        <fieldset class="border p-2">
          <legend class="w-auto">Pagamentos</legend>
          <hr />
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                <th scope="col" jhiSortBy="id" *ngIf="mostraId">
                  <div class="d-flex">
                    <span jhiTranslate="global.field.id">Código</span>
                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>

                <th scope="col" jhiSortBy="tipoServico.descricao" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.tipoPagamento">Meio de Pagamento</span>
                  </div>
                </th>

                <th scope="col" jhiSortBy="qtde" style="width: 15%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.qtde">Qtde</span>
                  </div>
                </th>
                <th scope="col" jhiSortBy="valor" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.valor">Valor</span>
                  </div>
                </th>
                <th scope="col" jhiSortBy="observacao" style="width: 35%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.observacao">Observacao</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemComanda of findPagamentos(itemComandas); trackBy: trackId" data-cy="entityTable">
                <td *ngIf="mostraId">
                  <a [routerLink]="['/item-comanda', itemComanda.id, 'view']">{{ itemComanda.id }}</a>
                </td>

                <td>
                  <div *ngIf="itemComanda.tipoPagamento" style="font-size: larger; font-weight: bold">
                    {{ itemComanda.tipoPagamento.descricao }}
                  </div>
                </td>

                <td>
                  <p-inputNumber
                    [inputStyle]="{ border: 'none' }"
                    name="qtde"
                    id="field_qtde"
                    data-cy="qtde"
                    class="form-control"
                    inputId="integeronly"
                    [(ngModel)]="itemComanda.qtde"
                    (ngModelChange)="atualizaItem()"
                  >
                  </p-inputNumber>

                  <!--                   <input pattern="[0-9]" type="number" class="form-control" name="qtde" id="field_qtde" data-cy="qtde"
                    [(ngModel)]="itemComanda.qtde" (ngModelChange)="atualizaItem()" value="{{ itemComanda.qtde }}" />
 -->
                </td>
                <td>
                  <p-inputNumber
                    [inputStyle]="{ border: 'none' }"
                    inputId="locale-user"
                    [minFractionDigits]="2"
                    name="valor"
                    id="field_valor"
                    data-cy="valor"
                    class="form-control"
                    [(ngModel)]="itemComanda.valor"
                    (ngModelChange)="atualizaItem()"
                  >
                  </p-inputNumber>

                  <!--                  <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor"
                    [(ngModel)]="itemComanda.valor" (ngModelChange)="atualizaItem()" value="{{ itemComanda.valor }}" />

  -->
                </td>

                <td>
                  <input
                    type="text"
                    class="form-control"
                    name="observacao"
                    id="field_observacao"
                    data-cy="observacao"
                    [(ngModel)]="itemComanda.observacao"
                    (ngModelChange)="atualizaItem()"
                    value="{{ itemComanda.observacao }}"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>
