<div>
  <h2 id="page-heading" data-cy="ItemComandaHeading">
    <span style="font-size: 26px; font-weight: bold"
      ><span style="font-size: 26px; font-weight: bold" jhiTranslate="appErpApp.itemComanda.home.title">Item Comandas</span>
      {{ descricao }} do Turno: {{ argControle }}</span
    >
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="itemComandas?.length === 0">
    <span jhiTranslate="appErpApp.itemComanda.home.notFound">Nenhum Item Comanda encontrado</span>
  </div>

  <div class="d-flex justify-content-start">
    <div class="col-3 p-1">
      <div class="col flex align-items-center justify-content-center">
        <div class="table-responsive table-entities" id="entities" *ngIf="itemComandas && itemComandas.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                <th scope="col" jhiSortBy="id" *ngIf="mostraId">
                  <div class="d-flex">
                    <span jhiTranslate="global.field.id">Código</span>
                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>

                <th scope="col" jhiSortBy="tipoServico.descricao" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.credito">Meio de Pagamento</span>
                  </div>
                </th>

                <!--      <th scope="col" jhiSortBy="valor" style="width: 10%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.valor">Valor</span>
                  </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let itemComanda of findPagamentos(itemComandas, 'C'); trackBy: trackId; let indexOfelement = index"
                data-cy="entityTable"
              >
                <td *ngIf="mostraId">
                  <a [routerLink]="['/item-comanda', itemComanda.id, 'view']">{{ itemComanda.id }}</a>
                </td>
                <td>
                  <div *ngIf="itemComanda.tipoPagamento">
                    {{ itemComanda.tipoPagamento.descricao }}
                  </div>
                </td>

                <td>
                  <p-inputNumber
                    pAutoFocus
                    [autofocus]="getFocus(indexOfelement)"
                    [inputStyle]="{ 'border-radius': '7px', 'text-align': 'right', width: '100%' }"
                    inputId="locale-user"
                    [minFractionDigits]="2"
                    name="valor"
                    id="field_valor"
                    data-cy="valor"
                    [(ngModel)]="itemComanda.valor"
                    (ngModelChange)="atualizaValor()"
                  >
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-3 p-1">
      <div class="col flex align-items-center justify-content-center">
        <div class="table-responsive table-entities" id="entities" *ngIf="itemComandas && itemComandas.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                <th scope="col" jhiSortBy="id" *ngIf="mostraId">
                  <div class="d-flex">
                    <span jhiTranslate="global.field.id">Código</span>
                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>

                <th scope="col" jhiSortBy="tipoServico.descricao" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.debito">Meio de Pagamento</span>
                  </div>
                </th>

                <!--     <th scope="col" jhiSortBy="valor" style="width: 10%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.valor">Valor</span>
                  </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let itemComanda of findPagamentos(itemComandas, 'D'); trackBy: trackId; let indexOfelement = index"
                data-cy="entityTable"
              >
                <td *ngIf="mostraId">
                  <a [routerLink]="['/item-comanda', itemComanda.id, 'view']">{{ itemComanda.id }}</a>
                </td>

                <td>
                  <div *ngIf="itemComanda.tipoPagamento">
                    {{ itemComanda.tipoPagamento.descricao }}
                  </div>
                </td>

                <td>
                  <p-inputNumber
                    autofocus
                    [inputStyle]="{ 'border-radius': '7px', 'text-align': 'right', width: '100%' }"
                    inputId="locale-user"
                    [minFractionDigits]="2"
                    name="valor"
                    id="field_valor"
                    data-cy="valor"
                    [(ngModel)]="itemComanda.valor"
                    (ngModelChange)="atualizaValor()"
                  >
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-3 p-1">
      <div class="col flex align-items-center justify-content-center">
        <div class="table-responsive table-entities" id="entities" *ngIf="itemComandas && itemComandas.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                <th scope="col" jhiSortBy="id" *ngIf="mostraId">
                  <div class="d-flex">
                    <span jhiTranslate="global.field.id">Código</span>
                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>

                <th scope="col" jhiSortBy="tipoServico.descricao" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.ticket">Meio de Pagamento</span>
                  </div>
                </th>

                <!--      <th scope="col" jhiSortBy="valor" style="width: 10%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.valor">Valor</span>
                  </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let itemComanda of findPagamentos(itemComandas, 'T'); trackBy: trackId; let indexOfelement = index"
                data-cy="entityTable"
              >
                <td *ngIf="mostraId">
                  <a [routerLink]="['/item-comanda', itemComanda.id, 'view']">{{ itemComanda.id }}</a>
                </td>

                <td>
                  <div *ngIf="itemComanda.tipoPagamento">
                    {{ itemComanda.tipoPagamento.descricao }}
                  </div>
                </td>

                <td>
                  <p-inputNumber
                    autofocus
                    [inputStyle]="{ 'border-radius': '7px', 'text-align': 'right', width: '100%' }"
                    inputId="locale-user"
                    [minFractionDigits]="2"
                    name="valor"
                    id="field_valor"
                    data-cy="valor"
                    [(ngModel)]="itemComanda.valor"
                    (ngModelChange)="atualizaValor()"
                  >
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-3 p-1">
      <div class="col flex align-items-center justify-content-center">
        <div class="table-responsive table-entities" id="entities" *ngIf="itemComandas && itemComandas.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                <th scope="col" jhiSortBy="id" *ngIf="mostraId">
                  <div class="d-flex">
                    <span jhiTranslate="global.field.id">Código</span>
                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>

                <th scope="col" jhiSortBy="tipoServico.descricao" style="width: 25%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.outros">Meio de Pagamento</span>
                  </div>
                </th>

                <!--           <th scope="col" jhiSortBy="valor" style="width: 10%">
                  <div class="d-flex">
                    <span jhiTranslate="appErpApp.itemComanda.valor">Valor</span>
                  </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let itemComanda of findPagamentos(itemComandas, 'O'); trackBy: trackId; let indexOfelement = index"
                data-cy="entityTable"
              >
                <td *ngIf="mostraId">
                  <a [routerLink]="['/item-comanda', itemComanda.id, 'view']">{{ itemComanda.id }}</a>
                </td>

                <td>
                  <div *ngIf="itemComanda.tipoPagamento">
                    {{ itemComanda.tipoPagamento.descricao }}
                  </div>
                </td>

                <td>
                  <p-inputNumber
                    autofocus
                    [inputStyle]="{ 'border-radius': '7px', 'text-align': 'right', width: '100%' }"
                    inputId="locale-user"
                    [minFractionDigits]="2"
                    name="valor"
                    id="field_valor"
                    data-cy="valor"
                    [(ngModel)]="itemComanda.valor"
                    (ngModelChange)="atualizaValor()"
                  >
                  </p-inputNumber>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="margin: 0" />
<div class="d-flex justify-content-end p-2">
  <span style="font-size: larger; font-weight: bold">Total: {{ this.total | currency: 'R$' }}</span>
</div>
<hr style="margin: 0" />
<div class="d-flex justify-content-end p-2">
  <button style="margin: 2px" type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="close()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
  </button>

  <button style="margin: 2px" type="button" (click)="save()" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
  </button>
</div>
