<div>
  <h2 id="page-heading" data-cy="ControleComandaHeading">
    <span style="font-weight: bold" jhiTranslate="appErpApp.controleComanda.home.title">Controle Comandas</span>
    <form [formGroup]="formGroup">
      <div class="d-flex justify-content-start">
        <div class="col-2">
          <label
            class="form-label"
            style="font-size: medium; font-weight: bold"
            jhiTranslate="appErpApp.controleComanda.data"
            for="field_data"
            >Data</label
          >
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              [minDate]="{ year: 2024, month: 1, day: 1 }"
              [maxDate]="{ year: 2024, month: 12, day: 31 }"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="dataFiltro"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>

            <!-- <input type="date" class="form-control" value="{{ dt | formatMediumDate }}" formControlName="dataFiltro" /> -->
            <!-- <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button> -->
          </div>
        </div>
        <div class="col-10" style="margin-top: 38px; margin-left: 10px">
          <button class="btn btn-info" (click)="loadComFiltro()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="appErpApp.controleComanda.home.refreshListLabel">Atualizar lista</span>
          </button>
          <!-- </div>

        <div class="col-6"> -->
          <!-- <div class="d-flex justify-content-end"> -->
          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-controle-comanda"
            [routerLink]="['/controle-comanda/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="appErpApp.controleComanda.home.createLabel">Criar novo Controle Comanda</span>
          </button>
        </div>
        <!-- </div> -->
      </div>
    </form>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="controleComandas?.length === 0">
    <span jhiTranslate="appErpApp.controleComanda.home.notFound">Nenhum Controle Comanda encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="controleComandas && controleComandas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--      <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->

          <th scope="col" jhiSortBy="cor.descricao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.cor">Cor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="faixaInicio">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.faixaInicio">Faixa Inicio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="faixaFim">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.faixaFim">Faixa Fim</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="qtde">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.qtde">Qtde</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="data">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.data">Data</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.valor">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="resumo">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.controleComanda.resumo">Resumo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let controleComanda of controleComandas; trackBy: trackId" data-cy="entityTable">
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">
            <a [routerLink]="['/controle-comanda', controleComanda.id, 'view']">{{ controleComanda.id }}</a>
          </td>
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">
            <div *ngIf="controleComanda.cor">
              {{ controleComanda.cor.descricao }}
            </div>
          </td>
          <!-- <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.descricao }}</td> -->
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.faixaInicio }}</td>
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.faixaFim }}</td>
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.qtdeComandas }}</td>
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.data | formatMediumDate }}</td>
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.valor | currency: ' ' }}</td>
          <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">{{ controleComanda.resumo }}</td>
          <!--      <td [style.background-color]="getBackgroundColor(controleComanda.cor?.valor)">
            <div *ngIf="controleComanda.cor">
              <a [routerLink]="['/cor', controleComanda.cor.id, 'view']">{{ controleComanda.cor.descricao }}</a>
            </div>
          </td> -->
          <td class="text-end">
            <button
              type="submit"
              [routerLink]="['/comanda/digitacao']"
              [queryParams]="{ 'filter[controleComandaId.in]': controleComanda.id }"
              class="btn btn-success btn-sm"
              data-cy="filterOtherEntityButton"
            >
              <fa-icon icon="navicon"></fa-icon>
              <span
                class="d-none d-md-inline"
                jhiTranslate="entity.action.show"
                [translateValues]="{ otherEntity: ('appErpApp.controleComanda.digitacao' | translate) }"
                >Mostrar Comanda</span
              >
            </button>

            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comanda']"
                [queryParams]="{ 'filter[controleComandaId.in]': controleComanda.id }"
                class="btn btn-success btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="navicon"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('appErpApp.controleComanda.comandas' | translate) }"
                  >Mostrar Comanda</span
                >
              </button>

              <!--               <button
            type="submit"
            [routerLink]="['/comanda']"
            [queryParams]="{ 'filter[controleId.in]': controleComanda.id }"
            class="btn btn-info btn-sm"
            data-cy="filterOtherEntityButton"
          >
            <fa-icon icon="eye"></fa-icon>
            <span
              class="d-none d-md-inline"
              jhiTranslate="entity.action.show"
              [translateValues]="{ otherEntity: ('appErpApp.controleComanda.listaComandas' | translate) }"
              >Mostrar Comanda</span
            >
          </button> -->
              <!--     <a [routerLink]="['/controle-comanda', controleComanda.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a> -->

              <a [routerLink]="['/controle-comanda', controleComanda.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(controleComanda)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>

              <button type="submit" (click)="previaFechamento(controleComanda)" class="btn btn-info btn-sm" data-cy="entityPreviaButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="appErpApp.controleComanda.fechamento">Previa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="controleComandas && controleComandas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
