<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comanda-heading" data-cy="ComandaCreateUpdateHeading" jhiTranslate="appErpApp.comanda.home.createOrEditLabel">
        Criar ou editar Comanda
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.observacao" for="field_observacao">Observacao</label>
          <input
            type="text"
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="date"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <!-- <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button> -->
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.numero" for="field_numero">Numero</label>
          <input type="number" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.situacao" for="field_situacao">Situacao</label>
          <select
            class="form-control"
            id="field_situacao"
            data-cy="situacao"
            name="situacao"
            formControlName="situacao"
            [compareWith]="compareSituacao"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="situacaoOption" *ngFor="let situacaoOption of situacaosSharedCollection">
              {{ situacaoOption.descricao }}
            </option>
          </select>
        </div>

        <!--         <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.controle" for="field_controle">Controle</label>
          <select
            class="form-control"
            id="field_controle"
            data-cy="controle"
            name="controle"
            formControlName="controle"
            [compareWith]="compareControleComanda"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="controleComandaOption" *ngFor="let controleComandaOption of controleComandasSharedCollection">
              {{ controleComandaOption.id }}
            </option>
          </select>
        </div>
 -->
        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.comanda.controleComanda" for="field_controleComanda">Controle Comanda</label>
          <select
            class="form-control"
            id="field_controleComanda"
            data-cy="controleComanda"
            name="controleComanda"
            formControlName="controleComanda"
            [compareWith]="compareControleComanda"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="controleComandaOption" *ngFor="let controleComandaOption of controleComandasSharedCollection">
              {{ controleComandaOption.descricao }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
