<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tipo-caixa-heading" data-cy="TipoCaixaCreateUpdateHeading" jhiTranslate="apperpApp.tipoCaixa.home.createOrEditLabel">
        Criar ou editar Tipo Caixa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="apperpApp.tipoCaixa.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="apperpApp.tipoCaixa.grupoPagamento" for="field_grupoPagamento">Grupo Pagamento</label>
          <select
            class="form-control"
            id="field_grupoPagamento"
            data-cy="grupoPagamento"
            name="grupoPagamento"
            formControlName="grupoPagamento"
            [compareWith]="compareGrupoPagamento"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="grupoPagamentoOption" *ngFor="let grupoPagamentoOption of grupoPagamentosCollection">
              {{ grupoPagamentoOption.descricao }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="apperpApp.tipoCaixa.percTaxa" for="field_percTaxa">Percentual Taxa</label>
          <input type="number" class="form-control" name="percTaxa" id="field_percTaxa" data-cy="percTaxa" formControlName="percTaxa" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="apperpApp.tipoCaixa.prazoExtrato" for="field_prazoExtrato">Prazo para o Extrato</label>
          <input
            type="number"
            class="form-control"
            name="prazoExtrato"
            id="field_prazoExtrato"
            data-cy="prazoExtrato"
            formControlName="prazoExtrato"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
