<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="caixa">
      <h2 data-cy="caixaDetailsHeading"><span jhiTranslate="appErpApp.caixa.detail.title">Caixa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ caixa.id }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.caixa.descricao">Descricao</span></dt>
        <dd>
          <span>{{ caixa.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.caixa.observacao">Observacao</span></dt>
        <dd>
          <span>{{ caixa.observacao }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.caixa.valor">Valor</span></dt>
        <dd>
          <span>{{ caixa.valor }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.caixa.data">Data</span></dt>
        <dd>
          <span>{{ caixa.data | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.caixa.tipoCaixa">Tipo Caixa</span></dt>
        <dd>
          <div *ngIf="caixa.tipoCaixa">
            <a [routerLink]="['/tipo-caixa', caixa.tipoCaixa.id, 'view']">{{ caixa.tipoCaixa.descricao }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appErpApp.caixa.tipoOrigem">Tipo Origem</span></dt>
        <dd>
          <div *ngIf="caixa.tipoOrigem">
            <a [routerLink]="['/tipo-origem', caixa.tipoOrigem.id, 'view']">{{ caixa.tipoOrigem.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/caixa', caixa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
