<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="itemComanda">
      <h2 data-cy="itemComandaDetailsHeading"><span jhiTranslate="appErpApp.itemComanda.detail.title">Item Comanda</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ itemComanda.id }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.descricao">Descricao</span></dt>
        <dd>
          <span>{{ itemComanda.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.observacao">Observacao</span></dt>
        <dd>
          <span>{{ itemComanda.observacao }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.data">Data</span></dt>
        <dd>
          <span>{{ itemComanda.data | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.numero">Numero</span></dt>
        <dd>
          <span>{{ itemComanda.numero }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.qtde">Qtde</span></dt>
        <dd>
          <span>{{ itemComanda.qtde }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.valor">Valor</span></dt>
        <dd>
          <span>{{ itemComanda.valor }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.tipoPagamento">Tipo Pagamento</span></dt>
        <dd>
          <div *ngIf="itemComanda.tipoPagamento">
            <a [routerLink]="['/tipo-pagamento', itemComanda.tipoPagamento.id, 'view']">{{ itemComanda.tipoPagamento.descricao }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.tipoServico">Tipo Servico</span></dt>
        <dd>
          <div *ngIf="itemComanda.tipoServico">
            <a [routerLink]="['/tipo-servico', itemComanda.tipoServico.id, 'view']">{{ itemComanda.tipoServico.descricao }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.comandaPai">Comanda Pai</span></dt>
        <dd>
          <div *ngIf="itemComanda.comandaPai">
            <a [routerLink]="['/comanda', itemComanda.comandaPai.id, 'view']">{{ itemComanda.comandaPai.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appErpApp.itemComanda.comanda">Comanda</span></dt>
        <dd>
          <div *ngIf="itemComanda.comanda">
            <a [routerLink]="['/comanda', itemComanda.comanda.id, 'view']">{{ itemComanda.comanda.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/item-comanda', itemComanda.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
