<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoCaixa">
      <h2 data-cy="tipoCaixaDetailsHeading"><span jhiTranslate="apperpApp.tipoCaixa.detail.title">Tipo Caixa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ tipoCaixa.id }}</span>
        </dd>
        <dt><span jhiTranslate="apperpApp.tipoCaixa.descricao">Descricao</span></dt>
        <dd>
          <span>{{ tipoCaixa.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="apperpApp.tipoCaixa.grupoCaixa">Grupo Caixa</span></dt>
        <dd>
          <span *ngFor="let grupoCaixa of tipoCaixa.grupoCaixas; let last = last">
            <a [routerLink]="['/grupo-caixa', grupoCaixa.id, 'view']">{{ grupoCaixa.descricao }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/tipo-caixa', tipoCaixa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
