<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-despesa-heading" data-cy="DespesaCreateUpdateHeading" jhiTranslate="appErpApp.despesa.home.createOrEditLabel">
        Criar ou editar Despesa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.observacao" for="field_observacao">Observacao</label>
          <input
            type="text"
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.parcela" for="field_parcela">Parcela</label>
          <input type="number" class="form-control" name="parcela" id="field_parcela" data-cy="parcela" formControlName="parcela" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.totalParcela" for="field_totalParcela">Total Parcela</label>
          <input
            type="number"
            class="form-control"
            name="totalParcela"
            id="field_totalParcela"
            data-cy="totalParcela"
            formControlName="totalParcela"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.valor" for="field_valor">Valor</label>
          <p-inputNumber
            [inputStyle]="{ 'text-align': 'right', width: '100%', border: 'none' }"
            inputId="locale-user"
            [minFractionDigits]="2"
            class="form-control"
            name="valor"
            id="field_valor"
            data-cy="valor"
            formControlName="valor"
          ></p-inputNumber>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="date"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <!-- <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button> -->
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.dataVencimento" for="field_dataVencimento">Data Vencimento</label>
          <div class="input-group">
            <input
              id="field_dataVencimento"
              data-cy="dataVencimento"
              type="date"
              class="form-control"
              name="dataVencimento"
              ngbDatepicker
              #dataVencimentoDp="ngbDatepicker"
              formControlName="dataVencimento"
            />
            <!-- <button type="button" class="btn btn-secondary" (click)="dataVencimentoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button> -->
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appErpApp.despesa.tipoDespesa" for="field_tipoDespesa">Tipo Despesa</label>
          <select
            class="form-control"
            id="field_tipoDespesa"
            data-cy="tipoDespesa"
            name="tipoDespesa"
            formControlName="tipoDespesa"
            [compareWith]="compareTipoDespesa"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="tipoDespesaOption" *ngFor="let tipoDespesaOption of tipoDespesasSharedCollection">
              {{ tipoDespesaOption.descricao }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
