<div>
  <h2 id="page-heading" data-cy="DespesaHeading">
    <span style="font-weight: bold" jhiTranslate="appErpApp.despesa.home.title">Despesas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appErpApp.despesa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-despesa"
        [routerLink]="['/despesa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appErpApp.despesa.home.createLabel">Criar novo Despesa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="despesas?.length === 0">
    <span jhiTranslate="appErpApp.despesa.home.notFound">Nenhum Despesa encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="despesas && despesas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="observacao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.observacao">Observacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parcela">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.parcela">Parcela</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalParcela">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.totalParcela">Total Parcela</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.valor">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="data">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.data">Data</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataVencimento">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.dataVencimento">Data Vencimento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoDespesa.descricao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.despesa.tipoDespesa">Tipo Despesa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let despesa of despesas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/despesa', despesa.id, 'view']">{{ despesa.id }}</a>
          </td>
          <td>{{ despesa.descricao }}</td>
          <td>{{ despesa.observacao }}</td>
          <td style="text-align: center">{{ despesa.parcela }}</td>
          <td style="text-align: center">{{ despesa.totalParcela }}</td>
          <td style="text-align: right">{{ despesa.valor | currency: 'R$' }}</td>
          <td style="text-align: center">{{ despesa.data | formatMediumDate }}</td>
          <td style="text-align: center">{{ despesa.dataVencimento | formatMediumDate }}</td>
          <td>
            <div *ngIf="despesa.tipoDespesa">
              <a [routerLink]="['/tipo-despesa', despesa.tipoDespesa.id, 'view']">{{ despesa.tipoDespesa.descricao }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/despesa', despesa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/despesa', despesa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(despesa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
