<div>
  <h2 id="page-heading" data-cy="RelatorioHeading">
    <span style="font-weight: bold" hiTranslate="appErpApp.relatorioComandaComanda.home.title">Relatório Diário</span>
    <div class="d-flex justify-content-start">
      <div class="col-2 p-2">
        <label
          class="form-label"
          style="font-size: medium; font-weight: bold"
          jhiTranslate="appErpApp.relatorioComanda.ano"
          for="field_data"
          >Data</label
        >

        <ng-multiselect-dropdown
          [placeholder]="'Selecione o ano...'"
          class="form-control"
          [settings]="dropdownSettingsAno"
          [data]="listaAnos"
          [(ngModel)]="selectedAno"
          (onSelect)="onItemSelectAno($event)"
          (onDeSelect)="onItemDeSelectAno($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="col-2 p-2">
        <label
          class="form-label"
          style="font-size: medium; font-weight: bold"
          jhiTranslate="appErpApp.relatorioComanda.mes"
          for="field_data"
          >Data</label
        >

        <ng-multiselect-dropdown
          [placeholder]="'Selecione o mês...'"
          class="form-control"
          [settings]="dropdownSettings"
          [data]="listaMeses"
          [(ngModel)]="selectedMes"
          (onSelect)="onItemSelectMes($event)"
          (onDeSelect)="onItemDeSelectMes($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="col-2 p-2">
        <button style="margin-top: 42px" class="btn btn-info me-2" (click)="load(1)">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="appErpApp.relatorioComanda.home.refreshListLabel">Atualizar lista</span>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (shown)="navChanged1($event)">
    <li *ngFor="let item of numSequence(31); let i = index" [ngbNavItem]="i + 1" [disabled]="i + 1 > this.ultimoDia">
      <button ngbNavLink>{{ i + 1 }}</button>

      <ng-template ngbNavContent *ngIf="active == i + 1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Controle das Comandas</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-1-{{ i + 1 }}"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Valores Recebidos</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-2-{{ i + 1 }}"></div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">
                  Conferência: Valores Recebidos X Valores Lançados das Comandas
                </div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-3-{{ i + 1 }}"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12" *ngIf="active != 99">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Conferência de Extrato Bancário</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-7-{{ i + 1 }}"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12" *ngIf="active != 99">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Despesas</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-8-{{ i + 1 }}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="99">
      <button ngbNavLink>Acumulado</button>

      <ng-template ngbNavContent *ngIf="active == 99">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Controle das Comandas</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-1-99"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Valores Recebidos</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-2-99"></div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">
                  Conferência: Valores Recebidos X Valores Lançados das Comandas
                </div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-3-99"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Vendas diárias - Valores Recebidos</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-4-99"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Vendas diárias - Valores Lançados</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-5-99"></div>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Ticket Médio</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-6-99"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header" style="font-size: larger; font-weight: bold">Conferência Extrato Bancário</div>
                <div class="card-body">
                  <div id="wdr-relatorio-comanda-8-99"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <!-- <pre>Active: {{ active }}</pre> -->
</div>
