<div>
  <h2 id="page-heading" data-cy="GrupoPagamentoHeading">
    <span style="font-weight: bold" jhiTranslate="appErpApp.grupoPagamento.home.title">Grupo Pagamentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appErpApp.grupoPagamento.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grupo-pagamento"
        [routerLink]="['/grupo-pagamento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appErpApp.grupoPagamento.home.createLabel">Criar novo Grupo Pagamento</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <span>tesste\\\</span>
  <div class="alert alert-warning" id="no-result" *ngIf="grupoPagamentos?.length === 0">
    <span jhiTranslate="appErpApp.grupoPagamento.home.notFound">Nenhum Grupo Pagamento encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="grupoPagamentos && grupoPagamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.grupoPagamento.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoColuna">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.grupoPagamento.tipoColuna">Tipo Coluna</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupoPagamento of grupoPagamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grupo-pagamento', grupoPagamento.id, 'view']">{{ grupoPagamento.id }}</a>
          </td>
          <td>{{ grupoPagamento.descricao }}</td>
          <td [ngSwitch]="grupoPagamento.tipoColuna">
            <span *ngSwitchCase="'D'">Débito</span>
            <span *ngSwitchCase="'C'">Crédito</span>
            <span *ngSwitchCase="'T'">Ticket</span>
            <span *ngSwitchCase="'O'">Outros</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/grupo-pagamento', grupoPagamento.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/grupo-pagamento', grupoPagamento.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(grupoPagamento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
