<div>
  <h2 id="page-heading" data-cy="GrupoServicoHeading">
    <span style="font-weight: bold" jhiTranslate="appErpApp.grupoServico.home.title">Grupo Servicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appErpApp.grupoServico.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grupo-servico"
        [routerLink]="['/grupo-servico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appErpApp.grupoServico.home.createLabel">Criar novo Grupo Servico</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="grupoServicos?.length === 0">
    <span jhiTranslate="appErpApp.grupoServico.home.notFound">Nenhum Grupo Servico encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="grupoServicos && grupoServicos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span jhiTranslate="appErpApp.grupoServico.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupoServico of grupoServicos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grupo-servico', grupoServico.id, 'view']">{{ grupoServico.id }}</a>
          </td>
          <td>{{ grupoServico.descricao }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/grupo-servico', grupoServico.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/grupo-servico', grupoServico.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(grupoServico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
