<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoDespesa">
      <h2 data-cy="tipoDespesaDetailsHeading"><span jhiTranslate="appErpApp.tipoDespesa.detail.title">Tipo Despesa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ tipoDespesa.id }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.tipoDespesa.descricao">Descricao</span></dt>
        <dd>
          <span>{{ tipoDespesa.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="appErpApp.tipoDespesa.grupoDespesa">Grupo Despesa</span></dt>
        <dd>
          <div *ngIf="tipoDespesa.grupoDespesa">
            <a [routerLink]="['/grupo-despesa', tipoDespesa.grupoDespesa.id, 'view']">{{ tipoDespesa.grupoDespesa.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/tipo-despesa', tipoDespesa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
