<div>
  <h2 id="page-heading" data-cy="CaixaHeading">
    <span jhiTranslate="apperpApp.caixa.home.title">Caixas</span>
    <form [formGroup]="formGroup">
      <div class="d-flex justify-content-start">
        <div class="col-2">
          <label
            class="form-label"
            style="font-size: medium; font-weight: bold"
            jhiTranslate="appErpApp.controleComanda.data"
            for="field_data"
            >Data</label
          >
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="dataFiltro"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="apperpApp.caixa.home.refreshListLabel">Atualizar lista</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-caixa"
          [routerLink]="['/caixa/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="apperpApp.caixa.home.createLabel">Criar novo Caixa</span>
        </button>
      </div>
    </form>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="caixas?.length === 0">
    <span jhiTranslate="apperpApp.caixa.home.notFound">Nenhum Caixa encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="caixas && caixas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoCaixa.descricao">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.tipoCaixa">Tipo Caixa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoOrigem.descricao">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.tipoOrigem">Tipo Origem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="descricao">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.descricao">Descricao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <!-- <th scope="col" jhiSortBy="observacao">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.observacao">Observacao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.valor">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="data">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.data">Data</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="data">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.dataEstimadaExtrato">Data</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.valorEstimadoExtrato">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="data">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.dataLancadaExtrato">Data</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.valorLancadoExtrato">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="apperpApp.caixa.valorTaxa">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caixa of caixas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/caixa', caixa.id, 'view']">{{ caixa.id }}</a>
          </td>
          <td>
            <div *ngIf="caixa.tipoCaixa">
              <a [routerLink]="['/tipo-caixa', caixa.tipoCaixa.id, 'view']">{{ caixa.tipoCaixa.descricao }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="caixa.tipoOrigem">
              <a [routerLink]="['/tipo-origem', caixa.tipoOrigem.id, 'view']">{{ caixa.tipoOrigem.descricao }}</a>
            </div>
          </td>
          <!-- <td>{{ caixa.descricao }}</td> -->
          <!-- <td>{{ caixa.observacao }}</td> -->
          <td>{{ caixa.valor | currency: ' ' }}</td>
          <td>{{ caixa.data | formatMediumDate }}</td>

          <td>{{ caixa.dataEstimadaExtrato | formatMediumDate }}</td>
          <td>{{ caixa.valorEstimadoExtrato | currency: ' ' }}</td>
          <td>{{ caixa.dataLancadaExtrato | formatMediumDate }}</td>
          <td>{{ caixa.valorLancadoExtrato | currency: ' ' }}</td>
          <td>{{ caixa.valorTaxa | currency: ' ' }}</td>

          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/caixa', caixa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/caixa', caixa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(caixa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="caixas && caixas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
